@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

.big-circle {
  position: absolute;
  width: 500px;
  height: 500px;
  border-radius: 50%;
  background: linear-gradient(to bottom, #06255b, #1bd9c5);
  bottom: 50%;
  right: 55%;
  transform: translate(-40%, 38%);
  z-index: 0;
}

.big-circle:after {
  content: "";
  position: absolute;
  width: 360px;
  height: 360px;
  background-color: #fafafa;
  border-radius: 50%;
  top: calc(50% - 180px);
  left: calc(50% - 180px);
}

.square {
  position: absolute;
  height: 400px;
  top: 55%;
  left: 63%;
  transform: translate(181%, 11%);
  opacity: 0.2;
  z-index: 0;
}
/* Gift card design */
.gift-card-container {
  perspective: 1000px;
  margin-bottom: 2rem;
}

.gift-card {
  border: 2px solid #1a3f6b;
  border-radius: 12px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
  position: relative;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: transform 0.8s cubic-bezier(0.68, -0.55, 0.27, 1.55);
}

.gift-card:hover {
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.25);
}

.rotate-y-180 {
  transform: rotateY(180deg);
}

.gift-card-back {
  background: #1bd8c4;
  border-radius: 12px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
  padding: 16px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transform: rotateY(180deg);
  backface-visibility: hidden;
  color: white;
}

.front-card {
  backface-visibility: hidden;
  transform: rotateY(0deg);
  color: white;
  padding-right: 50px;
  padding-left: 70px;
}

.break-words {
  word-wrap: break-word;
  overflow-wrap: break-word;
  white-space: normal;
}

.gift-icon {
  position: absolute;
  top: -3px;
  left: -4px; /* Move the image slightly more to the left */
  width: 60px; /* Increase size */
  height: 60px;
}

/* Align the cart icon and text in the button */
button {
  text-align: center;
  display: inline-block;
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px; /* Space between icon and text */
}

.space-x-4 {
  gap: 1rem; /* Ensure spacing between the color options */
}

body,
input,
textarea {
  font-family: "Roboto", sans-serif;
}
body {
  background-color: #f9fafb;
}
