<p>Hi <%= locals.name %>,</p>
<p>
  There has been an attempt to change your password. If this is not you, please
  disregard this email.
</p>
<p>
  If you would like to change your password, go to
  <a
    href="http://localhost:5173/reset-password?token=<%= locals.token %>"
    target="_blank"
    >http://localhost:5173/reset-password</a
  >. This link is valid for <strong>30 minutes only</strong>.
</p>
<br />
<p>The Qintronics Team</p>
